.centralize {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  padding-top: 120px;
  color: #fff;
}

#title {
  margin-bottom: 20px;
}

.form {
  background-color: #fff;
  color: black;
  width: 30%;
  border: 0px;
  border-radius: 5px;
}

.form label {
  width: 90%;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input {
  text-align: start !important;
  background-color: black;
  color: #fff;
  width: 90%;
  height: 35px;
  border: 0px;
  border-radius: 5px;
  padding: 5px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0px 0px 0px 0px;
}

.button {
  margin: 15px 0px 15px 0px;
  width: 90%;
  height: 40px;
  color: black;
  font-weight: bold;
  font-size: 16px;
  background-color: #5ee6ff;
  border: 0px;
  border-radius: 5px;
}

.result {
  margin-top: 15px;
}
